.Header {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  justify-content: space-evenly;
  background-color: burlywood;
  height: 8vh; 
  color: black;
  position: relative;
  width: 90%;
  text-align: justify;
  font-size: 130%;
  margin-left: auto;
    margin-right: auto;
}

body {
  margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke
   
}
.Title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh; 
  font-size: 20px;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ClassDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 70%;
}

.ClassDiv> div {
  flex-basis: 25%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.ClassDiv div img {
  width: 65%;
  height: 85%;
  margin: 8px 15px; 
  border: 5px solid blueviolet;
}
.ClassDiv > div:hover {
  transform: scale(1.30);
  
}

.Footer {
  display: flex;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
  height: 10vh;
  background-color: burlywood;
  color: black;
  justify-content: center;
  align-items: center;
  width: 90%;
  font-size: 130%;
  margin-left: auto;
  margin-right: auto;
}
